.panel-main {
  display: flex;
  padding: 5px;
}

.panel-child {
  flex: 1;
  padding-left: 5px;
  padding-bottom: 5px;
  border: 2px solid black;
}

.panel-child:first-child {
  margin-right: 20px;
}

.panel-child.left {
  background-color: lightgray;
}

.panel-child.right {
  background-color: darkgray;
}

/* .container {
  display: flex;
  flex-direction: column;
} */
.container > button {
  margin-bottom: 20px;
}

.button {
  margin-bottom: 10px;
}

.login {
  display: flex;
  flex-direction: column;
  margin-right: 3px;
}

.assignment {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 10px;
}

.assignment > *:not(:first-child) {
  margin-top: 1rem;
}

.stream-app {
  background: "#fff";
  height: 60;
  border-radius: 4;
  box-shadow: "0px 0px 4px rgba(0,0,0,0.15)";
  display: "flex";
  align-items: "center";
  justify-content: "space-between";
  flex-direction: "row";
}

.app-col-header {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  font-weight: bold;
}

.post {
  /* padding: 14px; */
  border-bottom: 1px solid #d3d3d3;
  margin: 5px 5px 5px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-content {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  gris-row-gap: 5px;
}

.post-title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 1px;
  outline: none;
  margin-right: 100px;
  padding: 0px;
  overflow: hidden;
  unicode-bidi: isolate;
  color: #0000ff;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.assignmentfields {
  height: 50px;
  background: grey;
  display: flex;
  align-items: center;
  padding: 10px 5px 0px 5px;
}

.inputpair {
  display: flex;
  flex-direction: column;
}
.nameField {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding: 14px 10px 0 0;
  margin: 0 0 7px 0;
}

.inputField {
  display: inline-block;
  margin: 0 0 7px 0;
}
